---
layout: page
title: Xamarin Development
---

<p class="message">
  Follow the simple steps below to develop Unvired apps with Xamarin.  You will need Xamarin Studio, the Unvired Xamarin Component and Github to complete the steps successfully.  In order to run the project you will need the details of the Unvired server also.
</p>

<div class="posts">
  {% for post in site.posts reversed %}
  {% if post.category == "Xamarin Development" %}
    <div class="post">
      <h1 class="post-title">
        {{ post.title }}
        <a name="{{ post.url }}">
        </a>
      </h1>

      {{ post.content }}
    </div>
    {% endif %}
  {% endfor %}
</div>