---
layout: page
title: iOS Development
---

<p class="message">
  Follow the simple steps below to get started with the UnviredSDK for iOS.  You will need access to GitHub and Cocoapods to complete the steps successfully.  In order to run the project you will need the details of the Unvired server also.
</p>

<div class="posts">
  {% for post in site.posts reversed %}
  {% if post.category == "iOS Development" %}
    <div class="post">
      <h1 class="post-title">
        {{ post.title }}
        <a name="{{ post.url }}">
        </a>
      </h1>

      {{ post.content }}
    </div>
    {% endif %}
  {% endfor %}
</div>