{
  "swagger": "2.0",
  "info": {
    "description": "Unvired Mobile Platform Rest API. API Authentication is HTTP BASIC Auth, the user should be passed in as COMPANY\\USER. Note: Due to an issue with the way the docs are generated, the response object is not generated correctly.  Until the upstream provider corrects it please check actual responses.",
    "version": "V2 (Release 2016)",
    "title": "The UMP4 Rest API",
    "contact": {
      "name": "Unvired Inc."
    },
    "license": {
      "name": "Commercial License",
      "url": "http://unvired.com/resources/sdk-license"
    }
  },
  "host": "demo.unvired.io",
  "basePath": "/UMP",
  "tags": [
    {
      "name": "applications",
      "description": "Operations on Application(s)"
    },
    {
      "name": "attachments",
      "description": "Operations on Attachments (files in cache)"
    },
    {
      "name": "companies",
      "description": "Operations on a Company"
    },
    {
      "name": "groups",
      "description": "Operations on Group(s)"
    },
    {
      "name": "libraries",
      "description": "Operations on a Library"
    },
    {
      "name": "messages",
      "description": "Operations on a Message"
    },
    {
      "name": "session",
      "description": "Session management for Users"
    },
    {
      "name": "status",
      "description": "Platform Status"
    },
    {
      "name": "users",
      "description": "Operations on User(s)"
    }
  ],
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/API/v2/applications": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Returns the list of Applications",
        "description": "Returns the list of applications of a company. Any valid user of a company can access this API",
        "operationId": "getApplicationListUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Application list returned",
            "schema": {
              "$ref": "#/definitions/StatusResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Company or User not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Returns the Application details ",
        "description": "Returns the Application details.  Any valid user of a company can access this API",
        "operationId": "getApplicationInfoUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "appName",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Application details retrieved",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/activate/{frontendUser}": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Activate an Application",
        "description": "Activate an Application for the Unvired User / Frontend User or Device. Any valid application user can access this API",
        "operationId": "activateUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to activate",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user or device to activate for",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application activated",
            "schema": {
              "$ref": "#/definitions/ActivationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/assign": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Gets application assignment status",
        "description": "Gets the application assignment status. Super Admin or Administrator of the current company can access this API",
        "operationId": "getAssignedAppStatusUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to check assignment status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Application has been assigned",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application has not been assigned yet"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Assign an application",
        "description": "Assign an applicaiton so it can be deployed for users. Super Admin or Administrator of the current company can access this API",
        "operationId": "assignApplicationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to assign",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application assigned",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or app cannot be assigned or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/attachments/{attachmentId}": {
      "get": {
        "tags": [
          "attachments"
        ],
        "summary": "Download attachment/file from the UMP cache",
        "description": "Downloads (multipart mime) an attachment/file from the UMP cache. This file can then be accessed by the application for download to a mobile device or other destinations.  Any Application user of the current company can access this API",
        "operationId": "downloadAttachmentUsingGET",
        "produces": [
          "application/xml",
          "application/octet-stream",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application name associated with the attachment",
            "required": true,
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Attachment Id of the file to download, has to be a GUID",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "description": "System credentials for backend systems, JSON format [{ \"port\": \"LOGICAL_PORT_NAME\", \"user\": \"USER_NAME\", \"password\": \"PASSWORD\"}]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "File downloaded",
            "schema": {
              "$ref": "#/definitions/AttachmentResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "attachments"
        ],
        "summary": "Upload attachment/file to the UMP cache",
        "description": "Uploads (multipart mime) an attachment/file to the UMP cache. This file can then be accessed by the application and uploaded to a final server like FTP, DMS etc.  Any Application user of the current company can access this API",
        "operationId": "uploadAttachmentUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application name requiring the attachment",
            "required": true,
            "type": "string"
          },
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Attachment Id of the uploaded file, has to be a GUID",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "The file attachment",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "File uploaded",
            "schema": {
              "$ref": "#/definitions/AttachmentResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/authenticate/{frontendUser}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Authenticate an Application",
        "description": "Authenticate an Application for the Unvired User / Frontend User or Device. Any valid application user can access this API",
        "operationId": "authenticateUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to authenticate",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user or device to authenticate",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Authenticated",
            "schema": {
              "$ref": "#/definitions/AuthenticationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/copy": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Gets application copy status",
        "description": "Gets the application copy status. Super Admin or Administrator of the current company can access this API",
        "operationId": "getCopiedAppStatusUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to check copy status",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Application has been copied",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application has not been copied yet"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Copy an application",
        "description": "Copy an applicaiton so it can be deployed for users. Super Admin or Administrator of the current company can access this API",
        "operationId": "copyApplicationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to copy",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application copied",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or app cannot be copied or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/deploy/{frontendUser}": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Deploy an Application",
        "description": "Deploy an Application for the Unvired User / Frontend User or Device. Super Admin or Administrator of the current company can access this API",
        "operationId": "deployAppUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to deploy",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend User or Device to deploy for",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application deployed",
            "schema": {
              "$ref": "#/definitions/ApplicationDeploymentResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/execute/{funcName}": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Execute an Application Function",
        "description": "Execute an Application Function to leverage functionality on SAP, Oracle, Sharepoint etc. Any application user can access this API",
        "operationId": "executeUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Input Message Content Type",
            "required": true,
            "type": "string",
            "default": "application/xml",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "appName",
            "in": "path",
            "description": "Application that the function belongs to",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentials",
            "in": "query",
            "description": "System credentials for backend systems, JSON format [{ \"port\": \"LOGICAL_PORT_NAME\", \"user\": \"USER_NAME\", \"password\": \"PASSWORD\"}]",
            "required": false,
            "type": "string"
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "Optional external reference id to associate with the message, mandatory if queued request (async)",
            "required": false,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "query",
            "description": "Frontend user or device requesting the execution, if only one frontend user us present this parameter is optional",
            "required": false,
            "type": "string"
          },
          {
            "name": "funcName",
            "in": "path",
            "description": "Function to execute",
            "required": true,
            "type": "string"
          },
          {
            "name": "inputMessage",
            "in": "query",
            "description": "Input message for the function",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageFormat",
            "in": "query",
            "description": "Message format",
            "required": false,
            "type": "string",
            "default": "standard",
            "enum": [
              "standard",
              "custom"
            ]
          },
          {
            "name": "portName",
            "in": "query",
            "description": "If the type of user is backendUser, then the UMP logical name of the port (system) these users belong to is specified here",
            "required": false,
            "type": "string"
          },
          {
            "name": "queuedExecute",
            "in": "query",
            "description": "Execute and return results or queue for execution",
            "required": true,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Function executed",
            "schema": {
              "$ref": "#/definitions/ExecuteResponse"
            }
          },
          "204": {
            "description": "Function did not return any output",
            "schema": {
              "$ref": "#/definitions/ExecuteResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "406": {
            "description": "Invalid Accept Type, application is not capable of returning the requested type"
          },
          "415": {
            "description": "Invalid Content Type, application is not capable of accepting the message type"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/executefor/{funcName}": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Execute an Application Function for other userse",
        "description": "Execute an Application Function on behalf of other users to leverage functionality on SAP, Oracle, Sharepoint etc. Only application users of type External Server can access this API",
        "operationId": "executeForUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Input Message Content Type",
            "required": true,
            "type": "string",
            "default": "application/xml",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "appName",
            "in": "path",
            "description": "Application that the function belongs to",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "External reference id to associate with the message",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "query",
            "description": "Frontend user requesting the execution, if only one frontend user is present this parameter is optional.  (user has to be of type External Server)",
            "required": false,
            "type": "string"
          },
          {
            "name": "funcName",
            "in": "path",
            "description": "Function to execute",
            "required": true,
            "type": "string"
          },
          {
            "name": "groups",
            "in": "query",
            "description": "Comma separated list of groups",
            "required": false,
            "type": "string"
          },
          {
            "name": "inputMessage",
            "in": "query",
            "description": "Input message for the function",
            "required": false,
            "type": "string"
          },
          {
            "name": "messageFormat",
            "in": "query",
            "description": "Message format",
            "required": false,
            "type": "string",
            "default": "standard",
            "enum": [
              "standard",
              "custom"
            ]
          },
          {
            "name": "portName",
            "in": "query",
            "description": "If the type of user is backendUser, then the UMP logical name of the port (system) these users belong to is specified here",
            "required": false,
            "type": "string"
          },
          {
            "name": "userType",
            "in": "query",
            "description": "Type of the user(s) to push the message",
            "required": true,
            "type": "string",
            "enum": [
              "unviredUser",
              "frontendUser",
              "backendUser",
              "federationUser",
              "group"
            ]
          },
          {
            "name": "users",
            "in": "query",
            "description": "Comma separated list of users based on the userType",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Function executed",
            "schema": {
              "$ref": "#/definitions/ExecuteForResponse"
            }
          },
          "204": {
            "description": "Function did not return any output",
            "schema": {
              "$ref": "#/definitions/ExecuteForResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "406": {
            "description": "Invalid Accept Type, application is not capable of returning the requested type"
          },
          "415": {
            "description": "Invalid Content Type, application is not capable of accepting the message type"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/frontendusers/{frontendUser}/messagecount": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Get message count",
        "description": "Gets the count of ready and pending messages. Any application user can access this API",
        "operationId": "getReadyPendingMsgCountUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to check",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user / device to check",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Count returned",
            "schema": {
              "$ref": "#/definitions/MessageCountResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/frontendusers/{frontendUser}/registerforpush/{pushId}": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Register for Push notifications",
        "description": "Register for Push notifications for an Application. Any application user can access this API",
        "operationId": "pushRegisterUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to register for push",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user / device for push",
            "required": true,
            "type": "string"
          },
          {
            "name": "pushId",
            "in": "path",
            "description": "Unique Push Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Push registered",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "applications"
        ],
        "summary": "Deregister for Push notifications",
        "description": "Deregister for Push notifications for an Application. Any application user can access this API",
        "operationId": "deletePushRegisterUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to deregister for push",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user / device for push",
            "required": true,
            "type": "string"
          },
          {
            "name": "pushId",
            "in": "path",
            "description": "Unique Push Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Push deregistered",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/library/{libName}": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Deploy a library for an application",
        "description": "Deploy a library for an application. In a Development environment Super Admin,Administrator or Developer of the current company can access this API. In Production environment Super Admin or Administrator of the current company can access this API",
        "operationId": "deployLibraryUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to deploy library to",
            "required": true,
            "type": "string"
          },
          {
            "name": "libName",
            "in": "path",
            "description": "library to be deployed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Library already deployed",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "204": {
            "description": "Library successfully deployed",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or lib cannot be deployed or does not have a valid plan"
          },
          "404": {
            "description": "Application or Library not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "applications"
        ],
        "summary": "Deploy a library for an application",
        "description": "Deploy a library for an application. In a Development environment Super Admin,Administrator or Developer of the current company can access this API. In Production environment Super Admin or Administrator of the current company can access this API",
        "operationId": "unDeployLibraryUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to deploy library to",
            "required": true,
            "type": "string"
          },
          {
            "name": "libName",
            "in": "path",
            "description": "library to be deployed",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Library successfully undeployed",
            "schema": {
              "$ref": "#/definitions/ApplicationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or lib cannot be deployed or does not have a valid plan"
          },
          "404": {
            "description": "Application or Library not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/message/{frontendUser}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Dowload message",
        "description": "Download message that is ready on UMP for an Application. Any application user can access this API",
        "operationId": "downloadMessageUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to download message",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user / device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Message content retrieved",
            "schema": {
              "$ref": "#/definitions/DownloadMsgResponse"
            }
          },
          "204": {
            "description": "No messages",
            "schema": {
              "$ref": "#/definitions/DownloadMsgResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/passwordless": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Returns a one time / single use login token for the Application",
        "description": "Returns a single use / one time token to login to the Application without a password for the Unvired User. Any valid application user can access this API",
        "operationId": "getOneTimeLoginTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to login to",
            "required": true,
            "type": "string"
          },
          {
            "name": "client",
            "in": "query",
            "description": "Login from web or mobile",
            "required": false,
            "type": "string",
            "default": "mobile",
            "enum": [
              "web",
              "mobile"
            ]
          }
        ],
        "responses": {
          "204": {
            "description": "One time token login token issued",
            "schema": {
              "$ref": "#/definitions/PasswordlessResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/passwordless/{loginToken}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Validates a one time / single use login token for the Application",
        "description": "Validates a single use / one time token to login to the Application. Any valid application user can access this API",
        "operationId": "validateOneTimeLoginTokenUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to login to",
            "required": true,
            "type": "string"
          },
          {
            "name": "loginToken",
            "in": "path",
            "description": "Login token to validate",
            "required": true,
            "type": "string"
          },
          {
            "name": "startSession",
            "in": "query",
            "description": "Start a new session after validation and return the session id",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated",
            "schema": {
              "$ref": "#/definitions/PasswordlessResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/properties": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Retrieve all the properties for an Application",
        "description": "Retrieve all the properties for an Application. Properties are preconfigured by the administrator of UMP. Any application user can access this API",
        "operationId": "getApplicationPropertiesUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve properties",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Applciation Properties retrieved",
            "schema": {
              "$ref": "#/definitions/ApplicationPropertiesResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or properties not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/properties/{property}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Retrieve specific property for an Application",
        "description": "Retrieve specific property for an Application. Properties are preconfigured by the administrator of UMP. Any application user can access this API",
        "operationId": "getApplicationPropertyUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve property",
            "required": true,
            "type": "string"
          },
          {
            "name": "property",
            "in": "path",
            "description": "Property to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Applciation Property retrieved",
            "schema": {
              "$ref": "#/definitions/ApplicationPropertiesResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or property not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Update specific property for an Application",
        "description": "Update specific property for an Application. Properties are preconfigured by the administrator of UMP. Any application user can access this API",
        "operationId": "updateApplicationPropertyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to update property",
            "required": true,
            "type": "string"
          },
          {
            "name": "property",
            "in": "path",
            "description": "Property to update",
            "required": true,
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Application property value to set",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Applciation Property updated",
            "schema": {
              "$ref": "#/definitions/ApplicationPropertiesResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or property not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "applications"
        ],
        "summary": "Update specific property for an Application",
        "description": "Update specific property for an Application. Properties are preconfigured by the administrator of UMP. Any application user can access this API",
        "operationId": "updateApplicationPropertyUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to update property",
            "required": true,
            "type": "string"
          },
          {
            "name": "property",
            "in": "path",
            "description": "Property to update",
            "required": true,
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Application property value to set",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Applciation Property updated",
            "schema": {
              "$ref": "#/definitions/ApplicationPropertiesResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or property not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/pushmessage": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Push a message for an Application",
        "description": "Push a message for an Application. A message is either standard or custom XML or JSON content that is required by the mobile or web application. Any application user can access this API",
        "operationId": "pushMessageUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Input Message Content Type",
            "required": true,
            "type": "string",
            "default": "application/xml",
            "enum": [
              "application/xml",
              "application/json"
            ]
          },
          {
            "name": "alert",
            "in": "query",
            "description": "Alert (Push Notification) message that is displayed to the user when this message is delivered.  If not set notification to download updates will be displayed",
            "required": false,
            "type": "string"
          },
          {
            "name": "appName",
            "in": "path",
            "description": "Application to push message",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalReference",
            "in": "query",
            "description": "Optional external reference id to associate with the message",
            "required": false,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "query",
            "description": "Frontend user requesting the execution, if only one frontend user is present this parameter is optional",
            "required": false,
            "type": "string"
          },
          {
            "name": "groups",
            "in": "query",
            "description": "Comma separated list of groups",
            "required": false,
            "type": "string"
          },
          {
            "name": "inputMessage",
            "in": "query",
            "description": "XML or JSON message to push",
            "required": true,
            "type": "string"
          },
          {
            "name": "messageFormat",
            "in": "query",
            "description": "Message format",
            "required": true,
            "type": "string",
            "enum": [
              "standard",
              "custom"
            ]
          },
          {
            "name": "portName",
            "in": "query",
            "description": "If the type of user is backendUser, then the UMP logical name of the port (system) these users belong to is specified here",
            "required": false,
            "type": "string"
          },
          {
            "name": "userType",
            "in": "query",
            "description": "Type of the user(s) to push the message",
            "required": true,
            "type": "string",
            "enum": [
              "unviredUser",
              "frontendUser",
              "backendUser",
              "federationUser",
              "group"
            ]
          },
          {
            "name": "users",
            "in": "query",
            "description": "Comma separated list of users based on the userType",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Message pushed",
            "schema": {
              "$ref": "#/definitions/PushMessageResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "406": {
            "description": "Invalid Accept Type, application is not capable of returning the requested type"
          },
          "415": {
            "description": "Invalid Content Type, application is not capable of accepting the message type"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/pushnotification": {
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Push a notification for an Application",
        "description": "Push a notification for an Application. Any application user can access this API",
        "operationId": "pushNotificationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "Notification action",
            "required": false,
            "type": "string"
          },
          {
            "name": "alert",
            "in": "query",
            "description": "Notification Alert message",
            "required": true,
            "type": "string"
          },
          {
            "name": "appName",
            "in": "path",
            "description": "Application to push notification",
            "required": true,
            "type": "string"
          },
          {
            "name": "category",
            "in": "query",
            "description": "Notification category",
            "required": false,
            "type": "string"
          },
          {
            "name": "context",
            "in": "query",
            "description": "Notification context, can be any small string of data that the client applicaiton can use to associate the data and the notification",
            "required": false,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "query",
            "description": "Frontend user requesting the execution, if only one frontend user is present this parameter is optional",
            "required": false,
            "type": "string"
          },
          {
            "name": "groups",
            "in": "query",
            "description": "Comma separated list of groups",
            "required": false,
            "type": "string"
          },
          {
            "name": "portName",
            "in": "query",
            "description": "If the type of user is backendUser, then the UMP logical name of the port (system) these users belong to is specified here",
            "required": false,
            "type": "string"
          },
          {
            "name": "sound",
            "in": "query",
            "description": "Sound to play for the notification",
            "required": false,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "Notification Title",
            "required": true,
            "type": "string"
          },
          {
            "name": "userType",
            "in": "query",
            "description": "Type of the user(s) to push the message",
            "required": true,
            "type": "string",
            "enum": [
              "unviredUser",
              "frontendUser",
              "backendUser",
              "federationUser",
              "group"
            ]
          },
          {
            "name": "users",
            "in": "query",
            "description": "Comma separated list of users based on the userType",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Notification pushed",
            "schema": {
              "$ref": "#/definitions/PushNotificationResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/secret/{key}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Retrieve secret for an Application",
        "description": "Retrieve specified secret for an Application. Any application user can access this API",
        "operationId": "getSecretUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve secret",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Secret/Key to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Applciation secret retrieved",
            "schema": {
              "$ref": "#/definitions/ApplicationSecretResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Create or Update secret for an Application",
        "description": "Update secret for an Application. Any application user can access this API",
        "operationId": "createSecretUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve secret",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Secret/Key to retrieve",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value to store",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application setting created",
            "schema": {
              "$ref": "#/definitions/ApplicationSecretResponse"
            }
          },
          "204": {
            "description": "Application settings updated",
            "schema": {
              "$ref": "#/definitions/ApplicationSecretResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "applications"
        ],
        "summary": "Create or Update secret for an Application",
        "description": "Update secret for an Application. Any application user can access this API",
        "operationId": "createSecretUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve secret",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Secret/Key to retrieve",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value to store",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application setting created",
            "schema": {
              "$ref": "#/definitions/ApplicationSecretResponse"
            }
          },
          "204": {
            "description": "Application settings updated",
            "schema": {
              "$ref": "#/definitions/ApplicationSecretResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "applications"
        ],
        "summary": "Delete secret for an Application",
        "description": "Delete secret for an Application. Any application user can access this API",
        "operationId": "deleteSecretUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to delete secret",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Secret/Key to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Application secret deleted",
            "schema": {
              "$ref": "#/definitions/ApplicationSecretResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/settings/{key}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Retrieve setting for an Application",
        "description": "Retrieve specific setting for an Application (Specify key as * to fetch all). Any application user can access this API",
        "operationId": "getSettingsUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve setting",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting/Key to retrieve",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Applciation settings retrieved",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Create or Update setting for an Application",
        "description": "Update setting for an Application. Any application user can access this API",
        "operationId": "createSettingsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "Hidden settings are not displayed ",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting/Key to retrieve",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "mobileSetting",
            "in": "query",
            "description": "Setting to be created as mobile setting",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "secure",
            "in": "query",
            "description": "Secure setting, value not displayed",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value to store",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application setting created",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingsResponse"
            }
          },
          "204": {
            "description": "Application settings updated",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "applications"
        ],
        "summary": "Create or Update setting for an Application",
        "description": "Update setting for an Application. Any application user can access this API",
        "operationId": "createSettingsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrieve setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "Hidden settings are not displayed ",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting/Key to retrieve",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "mobileSetting",
            "in": "query",
            "description": "Setting to be created as mobile setting",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "secure",
            "in": "query",
            "description": "Secure setting, value not displayed",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value to store",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Application setting created",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingsResponse"
            }
          },
          "204": {
            "description": "Application settings updated",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "applications"
        ],
        "summary": "Delete setting for an Application",
        "description": "Delete setting for an Application. Any application user can access this API",
        "operationId": "deleteSettingsUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to delete setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting/Key to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Application setting deleted",
            "schema": {
              "$ref": "#/definitions/ApplicationSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/undeploy/{frontendUser}": {
      "delete": {
        "tags": [
          "applications"
        ],
        "summary": "Undeploy an Application",
        "description": "Undeploy an Application for the Unvired User / Frontend User or Device. Super Admin or Administrator of the current company can access this API",
        "operationId": "undeployAppUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to undeploy",
            "required": true,
            "type": "string"
          },
          {
            "name": "frontendUser",
            "in": "path",
            "description": "Frontend user or device to undeploy for",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Application undeployed",
            "schema": {
              "$ref": "#/definitions/ApplicationUndeploymentResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or user not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/usage": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Returns the usage details of an Application",
        "description": "Returns the usage of an application of a company. Any valid user of a company can access this API",
        "operationId": "getApplicationUsageUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "appName",
            "required": true,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company to fetch the users, if empty authentication company is used",
            "required": false,
            "type": "string"
          },
          {
            "name": "fromTime",
            "in": "query",
            "description": "Start time for fetching the usage logs, default logs for last 1 hour",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of usage logs returned",
            "required": false,
            "type": "integer",
            "default": 25,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to return the usage logs",
            "required": false,
            "type": "integer",
            "default": 0,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "toTime",
            "in": "query",
            "description": "End time for fetching the usage logs",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Application list returned",
            "schema": {
              "$ref": "#/definitions/StatusResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Company or User not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/users": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Get users deployment status for an application",
        "description": "Gets the users deployment status for an application. Super Admin or Administrator of the current company can access this API",
        "operationId": "getApplicationUsersUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to check",
            "required": true,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit the number of users returned",
            "required": false,
            "type": "integer",
            "default": 25,
            "exclusiveMaximum": false,
            "minimum": 1,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset from which to return the users",
            "required": false,
            "type": "integer",
            "default": 0,
            "exclusiveMaximum": false,
            "minimum": 0,
            "exclusiveMinimum": false,
            "format": "int32"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Deployment status to check",
            "required": false,
            "type": "string",
            "default": "ALL",
            "enum": [
              "ALL",
              "DEPLOYED",
              "ACTIVATED",
              "ERROR"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Users returned",
            "schema": {
              "$ref": "#/definitions/ApplicationUserResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/applications/{appName}/usersettings/{key}": {
      "get": {
        "tags": [
          "applications"
        ],
        "summary": "Retrieve User specific settings for an Application",
        "description": "Retrieve User specific settings (specify key as * to fetch all) for an Application / Unvired User. Any application user can access this API",
        "operationId": "getUserSettingsUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to retrive setting",
            "required": true,
            "type": "string",
            "default": "*"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting / Key name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "User setting retrieved",
            "schema": {
              "$ref": "#/definitions/ApplicationUserSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "applications"
        ],
        "summary": "Create or modify User specific settings for an Application",
        "description": "Create or modify User specific settings for an Application / Unvired User. Any application user can access this API",
        "operationId": "createUserSettingsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to create or modify the setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "Hidden settings are not displayed ",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting / Key to create or modify",
            "required": true,
            "type": "string"
          },
          {
            "name": "secure",
            "in": "query",
            "description": "Secure setting, value not displayed",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value to store",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "User setting created",
            "schema": {
              "$ref": "#/definitions/ApplicationUserSettingsResponse"
            }
          },
          "204": {
            "description": "User setting updated",
            "schema": {
              "$ref": "#/definitions/ApplicationUserSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "applications"
        ],
        "summary": "Create or modify User specific settings for an Application",
        "description": "Create or modify User specific settings for an Application / Unvired User. Any application user can access this API",
        "operationId": "createUserSettingsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to create or modify the setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "Hidden settings are not displayed ",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting / Key to create or modify",
            "required": true,
            "type": "string"
          },
          {
            "name": "secure",
            "in": "query",
            "description": "Secure setting, value not displayed",
            "required": false,
            "type": "string",
            "default": "false",
            "enum": [
              "true",
              "false"
            ]
          },
          {
            "name": "value",
            "in": "query",
            "description": "Value to store",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "User setting created",
            "schema": {
              "$ref": "#/definitions/ApplicationUserSettingsResponse"
            }
          },
          "204": {
            "description": "User setting updated",
            "schema": {
              "$ref": "#/definitions/ApplicationUserSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "applications"
        ],
        "summary": "Delete User specific settings for an Application",
        "description": "Delete User specific settings for an Application / Unvired User. Any application user can access this API",
        "operationId": "deleteUserSettingsUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "appName",
            "in": "path",
            "description": "Application to delete the setting",
            "required": true,
            "type": "string"
          },
          {
            "name": "key",
            "in": "path",
            "description": "Setting/Key to delete",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "User setting deleted",
            "schema": {
              "$ref": "#/definitions/ApplicationUserSettingsResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "Application or key not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/attachments/{attachmentId}": {
      "delete": {
        "tags": [
          "attachments"
        ],
        "summary": "Delete attachment/file in the UMP cache",
        "description": "Delete an attachment/file in the UMP cache. Any Application user of the current company can access this API",
        "operationId": "deleteAttachmentUsingDELETE",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "attachmentId",
            "in": "path",
            "description": "Attachment Id of the cached file, has to be a GUID",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "File deleted",
            "schema": {
              "$ref": "#/definitions/AttachmentResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "404": {
            "description": "File not found"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/API/v2/companies": {
      "get": {
        "tags": [
          "companies"
        ],
        "summary": "List all Unvired Companies ",
        "description": "Returns a list of all available Unvired Companies.  Super Admin or Admin of root company can access this API",
        "operationId": "getCompaniesUsingGET",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Companies retrieved",
            "schema": {
              "$ref": "#/definitions/CompanyResponse"
            }
          },
          "400": {
            "description": "Invalid data supplied"
          },
          "401": {
            "description": "Incorrect password/authkey, password expired or REST API disabled"
          },
          "403": {
            "description": "Company plan has expired or does not have a valid plan"
          },
          "500": {
            "description": "Server error"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "companies"
        ],
        "summary": "Create a company",
        "description": "Create a company. Super Admin or Admin of root company can access this API",
        "operationId": "createCompanyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Address",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketkey",
            "in": "query",
            "description": "Company Bucket Key in case of AWS or Google Edition",
            "required": true,
            "type": "string"
          },
          {
            "name": "bucketname",
            "in": "query",
            "description": "Company Bucket Name in case of AWS or Google Edition",
            "required": true,
            "type": "string"
          },
          {
            "name": "city",
            "in": "query",
            "description": "City",
            "required": true,
            "type": "string"
          },
          {
            "name": "company",
            "in": "query",
            "description": "Company to create",
            "required": true,
            "type": "string"
          },
          {
            "name": "companyName",
            "in": "query",
            "description": "Name of the company",
            "required": true,
            "type": "string"
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country",
            "required": true,
            "type": "string"
          },
          {
            "name": "folder",
            "in": "query",
            "description": "Company Data Folder in case of Data Center Edition",
            "required": true,
            "type": "string"
          },
          {
            "name": "password",
            "in": "query",
            "description": "Password",
            "required": false,
            "type": "string"
          },
          {
            "name": "secret",
            "in": "query",
[...]
